services:
  - type: web
    name: telegram-expulsion-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app -c gunicorn.conf.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_CHAT_ID
        value: "5286685895"
      - key: TIME_LIMIT_SECONDS
        value: "120"
      - key: CHECK_INTERVAL_SECONDS
        value: "120"
      - key: WEBHOOK_URL
        value: "https://bot1-4-yzqg.onrender.com"
